*{
    box-sizing: border-box;
    font-family:'Arial'
}

.App{
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.searchresults{
    margin: 0 10px;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}